service: dragonstone

custom:
  stage: "${opt:stage, self:provider.stage}"

provider:
  name: aws
  runtime: nodejs10.x
  stage: prod
  region: us-east-1
  timeout: 20
  versionFunctions: true
  environment: ${file(env.yml):${self:custom.stage}}

package:
  include:
    - node_modules/**
  exclude:
    - .serverless/**
    - package-lock.json
    - package.json
    - '*.js.map'
    - env.yml

functions:
  updateShow:
    timeout: 10
    handler: handler.updateShowHandler
  updateEpisodes:
    timeout: 10
    handler: handler.updateEpisodesHandler
  addShow:
    timeout: 10
    handler: handler.addShowHandler
  graphql:
    timeout: 6
    handler: handler.graphqlHandler
    events:
    - http:
        path: graphql
        method: post
        cors: true